################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Smart-Automation-Solutions/.vs/Smart-Automation-Solutions
